.cards-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.asistencia-display h1 {
  font-size: 10rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.verde {
  color: #0b6623; /* Verde oscuro */
}

.rojo {
  color: #8b0000; /* Rojo oscuro */
}