<div class="cards-container">
    <!-- Card -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{valor}}</mat-card-title>
            <mat-card-subtitle>{{mensaje}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Contenido dentro de la tarjeta, puede ser texto, formularios, imágenes, lo que quieras.
            </p>
            <app-imagen [valor]='valor' (saludar)="mostrarMensaje($event)"></app-imagen>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>Acción 1</button>
            <button mat-button>Acción 2</button>
        </mat-card-actions>
    </mat-card>
    <!-- Card -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{valor}}</mat-card-title>
            <mat-card-subtitle>{{mensaje}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Contenido dentro de la tarjeta, puede ser texto, formularios, imágenes, lo que quieras.
            </p>
            <app-imagen [valor]='valor' (saludar)="mostrarMensaje($event)"></app-imagen>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>Acción 1</button>
            <button mat-button>Acción 2</button>
        </mat-card-actions>
    </mat-card>
    <!-- Card -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{valor}}</mat-card-title>
            <mat-card-subtitle>{{mensaje}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>
                Contenido dentro de la tarjeta, puede ser texto, formularios, imágenes, lo que quieras.
            </p>
            <app-imagen [valor]='valor' (saludar)="mostrarMensaje($event)"></app-imagen>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>Acción 1</button>
            <button mat-button>Acción 2</button>
        </mat-card-actions>
    </mat-card>
</div>