<div class="container mt-4">
    <app-menu></app-menu>

    <div class="container mt-2">
        <h1 class="titulo-pregunta text-center">{{pregunta}}</h1>
    </div>

    <div class="button-group">
        <button mat-raised-button *ngIf="mostrarBotonSi" type="button"
            class="btn-si" (click)="votoSi()">Voto sostenido Sí</button>
        <button mat-raised-button *ngIf="mostrarBotonNo" type="button"
            class="btn-no" (click)="votoNo()">Voto sostenido No</button>
        <button mat-raised-button color="info" type="button" class="btn-clear" (click)="desbloquear()">Clear</button>
    </div>

    <form [formGroup]="filtrosForm" (ngSubmit)="onGenerar()" class="mt-4">
        <app-barcode-scanner (scanned)="onCodeScanned($event)"></app-barcode-scanner>

        <div class="row mb-3">
            <div class="col-12">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Documento de Identidad</mat-label>
                    <input matInput type="number" placeholder="Ingrese su número de documento" formControlName="documento">
                </mat-form-field>
            </div>
        </div>

        <div class="button-group">
            <button mat-raised-button color="primary" type="submit">Votar</button>
        </div>
    </form>

    <div class="container2" *ngIf="mostrarRespuestas">
        <div class="box">
            <div class="label_si">SI</div>
            <div class="value">{{coeficienteSi | number: '1.2-2' }} %</div>
        </div>
        <div class="box">
            <div class="label_no">NO</div>
            <div class="value">{{coeficienteNo | number: '1.2-2' }} %</div>
        </div>
    </div>
</div>
