<div class="container mt-4">
    <div class="container mt-2">
        <h1 style="text-align: center;">Gestión de Turnos - Asesoftware</h1>
    </div>
    <form [formGroup]="filtrosForm" (ngSubmit)="onGenerar()">

        <!-- Primera fila: Select Comercio y Select Servicio -->
        <div class="row mb-3">
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Comercio</mat-label>
                    <mat-select formControlName="comercio" (selectionChange)="cargarServiciosByComercio($event)">
                        <mat-option *ngFor="let c of comercios" [value]="c.idComercio">{{ c.nomComercio }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Servicio</mat-label>
                    <mat-select formControlName="servicio">
                        <mat-option *ngFor="let s of servicios" [value]="s.idServicio">{{ s.nomServicio }}</mat-option>
                    </mat-select>
                    <!-- Mensaje de error si no se selecciona un servicio -->
                    <mat-error
                        *ngIf="filtrosForm.get('servicio')?.hasError('required') && filtrosForm.get('servicio')?.touched">
                        El servicio es obligatorio
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Segunda fila: Fechas Inicio y Fin -->
        <div class="row mb-3">
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha Inicio</mat-label>
                    <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio"
                        (dateChange)="onFechaFinChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerInicio></mat-datepicker>
                    <!-- Mensaje de error -->
                    <mat-error *ngIf="
                        filtrosForm.hasError('rangoFechasInvalido') &&
                        filtrosForm.get('fechaFin')?.touched">
                        La fecha fin debe ser posterior a la fecha inicio.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha Fin</mat-label>
                    <input matInput [matDatepicker]="pickerFin" formControlName="fechaFin"
                        (dateChange)="onFechaFinChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFin></mat-datepicker>
                    <!-- Mensaje de error -->
                    <mat-error *ngIf="
                        filtrosForm.hasError('rangoFechasInvalido') &&
                        filtrosForm.get('fechaFin')?.touched">
                        La fecha fin debe ser posterior a la fecha inicio.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Botón Generar -->
        <div style="display: flex; justify-content: center; gap: 16px; margin-top: 20px;">
            <button mat-raised-button color="primary" type="submit">Generar</button>
            <button mat-raised-button color="warn" type="button" (click)="modalEliminarTurno()">Eliminar Turnos</button>
        </div>


    </form>


    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-responsive-table mat-table">

            <!-- Servicio Column -->
            <ng-container matColumnDef="id_comercio">
                <th mat-header-cell *matHeaderCellDef> Comercio </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.servicio.comercio.nomComercio }} </td>
            </ng-container>

            <!-- Servicio Column -->
            <ng-container matColumnDef="id_servicio">
                <th mat-header-cell *matHeaderCellDef> Servicio </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.servicio.nomServicio }} </td>
            </ng-container>

            <!-- Fecha Turno Column -->
            <ng-container matColumnDef="fecha_turno">
                <th mat-header-cell *matHeaderCellDef> Fecha Turno </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.fechaTurno | date }} </td>
            </ng-container>

            <!-- Hora Inicio Column -->
            <ng-container matColumnDef="hora_inicio">
                <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.horaInicio }} </td>
            </ng-container>

            <!-- Hora Fin Column -->
            <ng-container matColumnDef="hora_fin">
                <th mat-header-cell *matHeaderCellDef> Hora Fin </th>
                <td mat-cell *matCellDef="let turno"> {{ turno.horaFin }} </td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    </div>

    <mat-divider></mat-divider>

    <div style="margin-top: 16px;">
        <app-tarjeta [valor]="55" [comercios]="comercios"></app-tarjeta>
    </div>
    <br>
     <mat-divider></mat-divider>
</div>